@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
* {
	margin: 0;
	padding: 0;
	color: whitesmoke;
}

html {
	font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
	background: url("https://t3.ftcdn.net/jpg/02/94/99/24/360_F_294992494_kPG2PgIe6Jn9sU4OcSw6Th6SvZD4OfWy.jpg");
	background-repeat: no-repeat;
	background-size: 100% 215%;
}

a {
	text-decoration: none;
	color: lightgray;
}

a:hover {
	cursor: pointer;
	color: rgb(133, 109, 109);
	transition-duration: 500ms;
}

h1,
h2 {
	padding: 10px;
}

h1 {
	border-bottom: 1px solid whitesmoke;
	width: 400px;
}

h3 {
	padding: 10px 0 0 10px;
}

.container {
	margin-top: 30px;
	margin-left: 50px;
}

table {
	margin: 30px 10px 10px 10px;
	padding: 10px;
	border: 1px solid whitesmoke;
}

th {
	padding-right: 100px;
	font-size: 20px;
}

table th:last-child {
	padding-right: 0;
}

td {
	padding: 10px;
}
