@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Raleway:wght@300&display=swap");
html {
	width: 100%;
	/* overflow-x: hidden; */
}

body {
	font-family: "Mulish", sans-serif;
}
/* Header CSS */
header {
	height: 70px;
	width: 100%;
	background-color: #7dd9e8;
	position: relative;
}

.header-left img {
	margin-top: 20px;
	width: 30%;
}
.header-left img:hover {
	cursor: pointer;
}

.header-left input {
	width: 40%;
	padding: 3px 0;
	font-size: 10px;
	background-color: #caeff7;
	background-image: url(../images/searchbar.png);
	margin-top: 0;
}

.header-left button {
	background-color: #294e58;
	color: white;
	font-size: 10px;
	padding: 3px 0;
	background-image: url(../images/button.png);
	width: 50px;
	height: 20px;
}
.header-left button:hover {
	cursor: pointer;
}
.header-right {
	color: #323232;
	display: none;
}
.header-right ul {
	list-style-type: none;
}

.header-right ul li {
	display: inline;
}

.header-right a {
	text-decoration: none;
	color: #323232;
	font-size: 14px;
	font-weight: bold;
}
.header-right a:hover {
	cursor: pointer;
	text-decoration: underline;
}

/* Nav CSS */
nav {
	height: 60px;
	background-color: #f5f5f5;
	padding: 0 30px 0 30px;
}

.nav-left {
	float: left;
	margin-top: 10px;
	font-size: 10px;
	font-weight: bold;
}

.nav-left ul li {
	display: inline;
	margin-right: 8px;
}

.nav-left a {
	color: #323232;
}
.nav-left a:hover {
	cursor: pointer;
	text-decoration: underline;
}
.nav-right {
	float: right;
	font-size: 10px;
	font-weight: bold;
}

.nav-right {
	margin-top: 12px;
}

.nav-right ul li {
	display: inline;
}
.nav-right li {
	margin-left: 20px;
}
/* Main container CSS */
main {
	margin: 10px 0 0 30px;
}

/* Sidebar CSS  */
.left-sidebar {
	width: 80%;
	margin: 10px 0 10px 35px;
}

.left-sidebar dt {
	background-color: #2fc1da;
	color: white;
	font-size: 16px;
	padding: 10px;
	font-weight: bold;
}

.left-sidebar dd {
	background-color: #f5f5f5;
	color: #323232;
	margin: 0;
	font-size: 10px;
	font-weight: bold;
	padding: 10px;
}

.recent-search-text {
	float: left;
	width: 50%;
}

.recent-search-img {
	float: right;
}

.recent-search-text-2 {
	width: 70%;
	font-weight: bolder;
}

.recent-search-text-2 {
	width: 30%;
}
.left-sidebar dd:hover {
	background-color: #ffffff;
	cursor: pointer;
}
/* Main CSS */
main {
	float: left;
	margin: 0px 20px 20px 20px;
	width: 100%;
}

.entries {
	font-size: 24px;
	font-weight: bold;
}
.main-header {
	border-bottom: 2px solid #2ec0d9;
	height: 80px;
	width: 100%;
}

.all-entries {
	float: left;
	padding: 13px 50px 49px 50px;
	margin-right: 0px;
	position: relative;
	overflow: hidden;
	font-weight: bold;
	/* background-image: url(../images/slice1.png);
	background-repeat: no-repeat;
	background-size: contain; */
}
.subscribed {
	float: left;
	padding: 13px 50px 43px 50px;
	margin-left: 0px;
	overflow: hidden;
	position: relative;
	font-weight: bold;
	/* background-image: url(../images/slice2.png);
	background-repeat: no-repeat;
	background-size: contain; */
}
.all-members,
.friends,
.new-entries,
.new-comments {
	font-size: 10px;
	color: #323232;
	font-weight: bold;
	background-color: #dddddd;
	width: 30%;
	height: 30px;
	text-align: center;
	padding-top: 8px;
	background-image: url(../images/slice3.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.all-members:hover,
.friends:hover,
.new-comments:hover,
.new-entries:hover {
	background-image: url(../images/slice4.png);
	background-size: contain;
	background-repeat: no-repeat;
	color: #ffffff;
}
.all-members {
	position: absolute;
	bottom: 6px;
	left: 30px;
}
.all-members:hover,
.friends:hover,
.new-entries:hover,
.new-comments:hover {
	background-color: #2fc1da;
}
.friends {
	position: absolute;
	bottom: 6px;
	right: 30px;
}
.new-entries {
	position: absolute;
	bottom: 6px;
	left: 30px;
}
.new-comments {
	position: absolute;
	bottom: 6px;
	right: 30px;
}
.user-info {
	margin-top: 20px;
	width: 90%;
}

.user-info img {
	float: left;
	margin-right: 10px;
	cursor: pointer;
}

.user-details {
	float: left;
}
.heading {
	font-size: 16px;
	font-weight: bold;
}
.author,
.book {
	color: #2f2f2f;
	font-size: 12px;
	margin-top: 3px;
	font-weight: bold;
}
.success {
	color: #72951f;
}
.highlight {
	color: #4cb0c0;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}
.warning {
	font-weight: bold;
	color: #d43f1f;
	cursor: pointer;
	font-size: 12px;
}
.right-sidebar {
	float: left;
	width: 80%;
	margin-top: 0px;
	margin-left: 35px;
}
/* .right-sidebar-final {
	height: 295px;
} */
/* .left-sidebar-final {
	height: 262px;
} */
.right-sidebar dt {
	background-color: #2fc1da;
	color: white;
	font-size: 16px;
	padding: 10px;
	font-weight: bold;
}
.right-sidebar dd {
	background-color: #f5f5f5;
	color: #323232;
	margin: 0;
	font-size: 10px;
	font-weight: bold;
	padding: 10px;
}
.right-sidebar dd:hover {
	background-color: #ffffff;
	cursor: pointer;
}
footer {
	background-color: #727272;
	/* border: 1px solid red; */
	color: #d4d4d4;
	padding: 30px 30px 30px 10px;
	font-size: 8px;
}
footer li {
	display: inline;
	margin-left: 10px;
	text-align: center;
}
footer ul {
	float: left;
}
footer span {
	float: right;
	color: #d4d4d4;
}
